n8n/agent-vNBDpUpXh5wej9QC.json
{"createdAt":"2025-09-03T17:41:54.013Z","updatedAt":"2025-09-21T01:01:26.000Z","id":"vNBDpUpXh5wej9QC","name":"agent","active":false,"isArchived":true,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"=memory:{{ $('Merge').item.json.id }}","sessionTTL":300,"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-488,464],"id":"ac76ccca-b4e8-4725-bec0-0bc174adcd02","name":"Memória","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1056,176],"id":"00c4d2eb-174d-4a39-98b4-36638a08a8c6","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-848,240],"id":"3c648bf1-c685-4d2f-bd98-88779fc1e3bc","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"ba4f5569-b005-423f-9090-ee669206e561","name":"identifier","value":"=blablalb","type":"string"},{"id":"385b2543-ee07-4109-a5df-7beea60a97a9","name":"message","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,384],"id":"bc51f42d-62ab-4f3b-bf32-b79a2ec8a901","name":"Edit Fields"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1280,384],"id":"5a6fcd5f-0493-413d-9a63-e2aee127eb19","name":"When chat message received","webhookId":"6f4debb8-e809-421d-adf9-b37001b918f6"},{"parameters":{"promptType":"define","text":"={{ $('Merge').item.json.message }}","options":{"systemMessage":"=Você é um assistente financeiro pessoal via WhatsApp. Seu objetivo é ajudar o usuário a registrar seus gastos, manter controle financeiro e entregar resumos, alertas e orientações úteis com base em seus hábitos.\n\n* Utilize o valor de **Hojé é ({{ $now.format('FFFF') }})** como referência.\n* Considere o padrão de calendário brasileiro (semana começa no domingo).\n* \"Próxima quarta-feira\" significa a quarta-feira da semana seguinte à data de referência.\n* \"Quarta-feira desta semana\" deve ser solicitada como \"quarta-feira agora\" ou apenas \"quarta-feira\".\n* \"Amanhã\", \"semana que vem\", \"na outra terça\", etc., devem seguir o mesmo esquema: sempre para a próxima ocorrência depois da semana atual.\n* Em caso de qualquer ambiguidade, reformule a data completa (DD/MM/YYYY) e peça confirmação ao cliente antes de prosseguir.\n\n### 💼 Funções principais do agente:\n\n1. **Registrar gastos**\n   - A entrada do usuário contém o valor e uma descrição simples, ex:  \n     - \"mercado 45,90\"\n     - \"uber 20\"\n     - \"aluguel 1000\"\n   - Você deve extrair as seguintes informações:\n     - descrição (texto)\n     - valor (em reais)\n     - categoria provável (ex: alimentação, transporte, lazer, moradia, saúde, outros)\n\n2. **Organizar categorias automaticamente**\n   - Use seu conhecimento para classificar o gasto em uma das categorias predefinidas:\n     - alimentação, transporte, moradia, lazer, saúde, educação, compras, contas, supermercado, investimento, outros\n\n3. **Responder de forma amigável**\n   - Confirme o registro e traga contexto quando possível. Exemplo:\n     - \"✅ Gasto de R$ 45,90 com supermercado registrado.\"\n     - \"📊 Seu total de supermercado este mês está em R$ 340,00.\"\n\n4. **Não ofereça conselhos financeiros complexos**\n   - Mantenha respostas simples, curtas e diretas\n   - Não mencione que é um robô ou IA, aja como um assistente confiável\n\n### 🛠️ Ferramenta: \"inserir_gasto\"\n\nVocê pode acionar uma ferramenta chamada `inserir_gasto`, que insere o dado no banco de dados.\n\n🛠️ Ferramenta: \"inserir_entrada\"\n\nVocê pode acionar uma ferramenta chamada inserir_entrada, que registra uma entrada de dinheiro do usuário, como salário, freela, bônus, comissão, ou outras fontes de renda.\n\n🛠️ Ferramenta: \"obter_dados\"\n\nQuando o usuário perguntar sobre suas financias, use essa tool para buscar."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-624,240],"id":"57b17a8b-0d3a-4afd-bc6e-e53c513a4382","name":"Dados"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-616,464],"id":"43dd606a-a5f2-4bfb-a290-afd52965eaca","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cvdQbdKvMTB3Yl5I","name":"OpenAi account"}}}],"connections":{"Memória":{"ai_memory":[[{"node":"Dados","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Dados","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"identifier":"","message":""}}]},"versionId":"1008ed68-0130-49a9-a923-9079e5b89408","triggerCount":0,"shared":[{"createdAt":"2025-09-03T17:41:54.028Z","updatedAt":"2025-09-03T17:41:54.028Z","role":"workflow:owner","workflowId":"vNBDpUpXh5wej9QC","projectId":"tfGBfzMepNnJG3zL"}],"tags":[]}