n8n/agente-de-ia-LQyHfwNvPQccI4fL.json
{"createdAt":"2025-08-30T12:38:22.052Z","updatedAt":"2025-09-27T22:59:17.000Z","id":"LQyHfwNvPQccI4fL","name":"agente de ia","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[288,-768],"id":"82c8e4ea-663b-4721-9aa0-bde5e8c1e6bc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cvdQbdKvMTB3Yl5I","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memory:{{ $('usuario').item.json.id }}","sessionTTL":300},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[720,-1152],"id":"b191ca6b-53cc-4e92-bdf5-0fe01c0fa0e4","name":"Memória","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"identifier"},{"name":"message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1440,-816],"id":"185f942d-17cd-4aa9-a883-b7be658b1306","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ba4f5569-b005-423f-9090-ee669206e561","name":"identifier","value":"=556196661389@s.whatsapp.net","type":"string"},{"id":"385b2543-ee07-4109-a5df-7beea60a97a9","name":"message","value":"={{ $json.chatInput }}","type":"string"},{"id":"0a222dcb-6ed8-4264-b656-a8f97120fc3b","name":"debug","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1200,-1020],"id":"60f93d91-b59d-44bb-a354-f01d5b6a372e","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0a3c5c3-577f-48ca-8f18-c3a4304d4e76","leftValue":"={{ !!$json.id }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,-924],"id":"a3e1abb8-1aa3-474a-b2ac-18a574c85ce2","name":"If"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memory-welcome:{{ $('mensagem').item.json.identifier }}","sessionTTL":200},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-296,-552],"id":"43f492a7-000e-4f98-8402-d95a4bb44e96","name":"Memória1","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1424,-1020],"id":"5a34d27f-f018-493d-83a8-8831e80ed60e","name":"When chat message received","webhookId":"6f4debb8-e809-421d-adf9-b37001b918f6"},{"parameters":{"promptType":"define","text":"={{ $('mensagem').item.json.message }}","options":{"systemMessage":"=Você é um assistente de boas-vindas responsável por **cadastrar novos usuários** do serviço financeiro via WhatsApp.\n\nSempre responda com formatação compatível com WhatsApp:\n\nUse apenas negrito (para destacar uma palavra) e traços (-, para listar funções, dados)\n\nNão use itálico, tachado, listas numeradas, nem blocos de código\n\nNunca envie mensagens com formatação Markdown incompatível\n\n### 🎯 Objetivo:\nCadastrar o usuário no sistema, você deve obter nome completo do usuário, email e cpf. Antes de registrar, envie os dados para o usuário confirmar.\n\n### 🛠️ Ferramenta: \"registrar_usuario\"\n\nVocê pode acionar uma ferramenta chamada `registrar_usuario`, que salva os dados do usuário no banco de dados. Lembre de salvar o cpf do usuário sem pontos e traços.\nExemplo: 123.456.789-10 -> 12345678910.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-304,-776],"id":"d138586a-e39c-4e23-8430-6f9ffbe891ff","name":"Cadastrar usuário"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  users.id,\n  users.name,\n  users.email,\n  users.cpf,\n  subscriptions.status,\n  subscriptions.expires_at,\n  subscriptions.paid_at\nFROM users\nLEFT JOIN subscriptions\n  ON subscriptions.user_id = users.id\nWHERE users.whatsapp_number = '{{ $json.identifier }}'\nORDER BY subscriptions.created_at DESC\nLIMIT 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-752,-924],"id":"43eea9b1-6a3f-4c4c-b49c-ab38c1cc10ba","name":"usuario","alwaysOutputData":true,"credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}},"onError":"continueRegularOutput"},{"parameters":{"description":"Inserir dados do gasto do usuário.","workflowId":{"__rl":true,"value":"7pZ9CtKiW4fJa3z6","mode":"list","cachedResultName":"database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"amount":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'number') }}","key":"expenses","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}","user_id":"={{ $('usuario').item.json.id }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `se o cliente afirmar a data, use-a, caso contrário use a atual. Nesse formato YYYY-MM-DD`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[848,-1152],"id":"27614798-4d2a-47cc-90af-aabd515ec728","name":"inserir_gasto"},{"parameters":{"description":"Inserir dados de entrada do usuário.","workflowId":{"__rl":true,"value":"7pZ9CtKiW4fJa3z6","mode":"list","cachedResultName":"database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"amount":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'number') }}","key":"incomes","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `De onde veio o dinheiro.`, 'string') }}","user_id":"={{ $('usuario').item.json.id }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[976,-1152],"id":"79ff7741-6242-4846-9b8a-fff99c1d8616","name":"inserir_entrada"},{"parameters":{"promptType":"define","text":"={{ $('mensagem').item.json.message }}","options":{"systemMessage":"=Você é um assistente financeiro pessoal via WhatsApp. Sua função é ajudar o usuário a registrar gastos, organizar categorias, entregar resumos, alertas e orientações simples com base em seus hábitos.\n\nRegras gerais:\n\nSe o usuário mandar uma mensagem sem intenção de uso, não pergunte \"Como posso ajuda-lo?\", explique oque você pode fazer.\n\nSempre responda com formatação compatível com WhatsApp:\n\nUse apenas negrito (para destacar uma palavra) e traços (-, para listar funções, dados)\n\nNão use itálico, tachado, listas numeradas, emojis nem blocos de código\n\nNunca envie mensagens com formatação Markdown incompatível\n\nReferência de tempo: Hoje é ({{ $now.format('FFFF') }}).\n\nCalendário: semana começa no domingo.\n\n\"Próxima quarta-feira\" = quarta da semana seguinte.\n\n\"Quarta-feira\" ou \"quarta agora\" = nesta semana.\n\nDatas relativas (amanhã, semana que vem etc.) sempre apontam para a ocorrência após a semana atual.\n\nSe houver ambiguidade, reformule em DD/MM/YYYY e peça confirmação.\n\nFunções principais:\n\nRegistrar gastos: extrair descrição, valor (R$) e categoria provável.\n\nExemplos: \"mercado 45,90\", \"uber 20\", \"aluguel 1000\".\n\nClassificação automática: categorias fixas → alimentação, transporte, delivery, moradia, lazer, saúde, educação, compras, contas, supermercado, investimento, outros.\n\nResponder de forma amigável: confirmar registro e dar contexto breve.\n\nEx.: \"✅ Gasto de R$ 45,90 com supermercado registrado.\"\n\nEx.: \"📊 Total de supermercado este mês: R$ 340,00.\"\n\nOrientação simples: nada de conselhos financeiros complexos.\n\nFerramentas disponíveis:\n\ninserir_gasto: registra gasto. Sempre usar antes de confirmar.\n\ninserir_entrada: registra entrada de renda (salário, bônus, etc.).\n\nobter_dados: consulta dados. Converta períodos relativos em formato YYYY-MM-DD → start;end. Use para somatório, por categoria ou comparação de períodos.\n\nobter_saldo: retorna saldo.\n\ninserir_investimento: registra investimento.\n\nobter_acesso: envia link seguro do painel com transações e gráficos.\n\ninserir_transacao_frequente: registrar uma transação que é frequente.\n\ninserir_limite: registrar limite de gasto.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1088,-1376],"id":"279ecd4f-621b-4b80-8fd7-ae4ac76fb642","name":"Dados"},{"parameters":{"description":"Obter transações e saldo do usuário.","workflowId":{"__rl":true,"value":"7pZ9CtKiW4fJa3z6","mode":"list","cachedResultName":"database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"key":"balance","user_id":"={{ $('usuario').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1104,-1152],"id":"678ca39f-2832-4cca-84dc-e49a6edb2c3d","name":"obter_saldo"},{"parameters":{"description":"Inserir dados de investimento do usuário.","workflowId":{"__rl":true,"value":"7pZ9CtKiW4fJa3z6","mode":"list","cachedResultName":"database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"amount":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'number') }}","key":"investment","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}","user_id":"={{ $('usuario').item.json.id }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `se o cliente afirmar a data, use-a, caso contrário use a atual. Nesse formato YYYY-MM-DD`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1232,-1152],"id":"e372101b-1437-4d3d-9693-4ccaa51522c8","name":"inserir_investimento"},{"parameters":{"description":"Use para obter dados das transações do usuário.","workflowId":{"__rl":true,"value":"7pZ9CtKiW4fJa3z6","mode":"list","cachedResultName":"database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"key":"search","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `YYYY-MM-DD;YYYY-MM-DD`, 'string') }}","user_id":"={{ $('usuario').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1360,-1152],"id":"4ac569fd-3d8a-44a6-93f3-415cb3e378b2","name":"obter_dados"},{"parameters":{"description":"Obter url seguro do painel web.","workflowId":{"__rl":true,"value":"rzDmGkoogbPFCufL","mode":"list","cachedResultName":"auth"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $('usuario').item.json.id }}","debug":"={{ $('mensagem').item.json?.debug }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"debug","displayName":"debug","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1488,-1152],"id":"e984a59a-bb5f-4d70-bc33-0fc492281d2f","name":"obter_acesso"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-976,-924],"id":"82cac97a-f9be-4215-aea5-d68e3827f1a7","name":"mensagem"},{"parameters":{"description":"Cadastrar usuário","workflowId":{"__rl":true,"value":"7pZ9CtKiW4fJa3z6","mode":"list","cachedResultName":"database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"key":"new.user","name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}","cpf":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}","whatsapp_number":"={{ $('mensagem').item.json.identifier }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"whatsapp_number","displayName":"whatsapp_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-168,-552],"id":"ee37e93e-9e2d-47f6-b085-544b1d2d95d2","name":"registrar_usuario"},{"parameters":{"assignments":{"assignments":[{"id":"be69275d-ffe5-468e-8bbd-7f2bba6280eb","name":"isExpired","value":"={{ $now.toMillis() > $json.expires_at.toDateTime().toMillis() }}","type":"boolean"},{"id":"084a74d3-05c4-45c0-be5e-7ce07e32ae07","name":"isActive","value":"={{ $json.status === 'active' }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-1072],"id":"f9c8a0e2-85ce-4814-963d-e83479cb180b","name":"verificacao"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb3004a7-d6c7-4b5d-a987-8f10c81ad278","leftValue":"={{ $json.isExpired }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"9451313c-6c5a-4fc3-89da-d147f0efa0df","leftValue":"={{ $json.isActive }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,-1072],"id":"d85946d1-424c-4732-a609-80cdd480b552","name":"If1"},{"parameters":{"promptType":"define","text":"={{ $('mensagem').item.json.message }}","options":{"systemMessage":"=Você é um agente responsável por renovar assinaturas do controla.ai.\nO usuário que está interagindo com você teve a assinatura expirada, e está tentando usar o sistema normalmente.\n\nSeu papel é avisar que a assinatura expirou, oferecer a renovação e seguir com o processo de pagamento, se ele quiser.\n\nRegras de resposta obrigatórias:\n\nNunca use markdown incompatível com WhatsApp.\n\nUse apenas:\n\nNegrito para destacar palavras\n\nTraços (-) para listar informações\n\nNão use: itálico, tachado, listas numeradas, blocos de código ou mensagens com aparência de markdown.\n\nComportamento esperado ao receber qualquer mensagem:\n\nSe o usuário disser qualquer coisa (mesmo comandos normais), responda:\n\nSua assinatura do controla.ai expirou. [EMOJI TRISTE]\nPara continuar usando o assistente financeiro, é necessário renovar.\nQuer renovar agora ou conhecer melhor as funcionalidades do agente?\n\nSe o usuário escolher renovar, responda:\n\nO plano custa R$ 12,90/mês\n\nVocê terá acesso completo ao assistente financeiro via WhatsApp\n\nTambém ganha um painel web com visualizações, categorias e análises inteligentes\n\nDeseja continuar com o pagamento?\n\nSe o usuário disser que sim:\n\nAtive a ferramenta gerar_pix com os dados do usuário\n\nA própria ferramenta irá enviar o QR Code + código \"copia e cola\"\n\nResponda apenas:\nCopie e cole no seu banco de preferência para renovar sua assinatura. Pode demorar alguns minutos para o Mercado Pago processar seu pagamento.\n\nSe o usuário não quiser renovar agora, diga:\nSem problema! Posso te mostrar com calma tudo o que o agente pode fazer por você."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[776,-872],"id":"b827bab5-0de5-4f1c-8ba1-27d6e7e9fc7d","name":"Assinatura"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memory-subscription:{{ $('mensagem').item.json.identifier }}","sessionTTL":200},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[784,-648],"id":"1876bc38-27a9-4f49-9984-3a2548982dc6","name":"Memória2","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"description":"Gerar cobrança pix.","workflowId":{"__rl":true,"value":"IQ1jBTN88w2YtcwN","mode":"list","cachedResultName":"gerar pix"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $('If').item.json.id }}","cpf":"={{ $('usuario').item.json.cpf }}","email":"={{ $('usuario').item.json.email }}","name":"={{ $('usuario').item.json.name }}","whatsapp":"={{ $('mensagem').item.json.identifier }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[912,-648],"id":"aef9241f-136f-4516-8a20-01562e001af1","name":"gerar_pix"},{"parameters":{"description":"Inserir uma transação frequente.","workflowId":{"__rl":true,"value":"7pZ9CtKiW4fJa3z6","mode":"list","cachedResultName":"database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"amount":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'number') }}","key":"create.recurring.transaction","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `De onde veio o dinheiro.`, 'string') }}","user_id":"={{ $('usuario').item.json.id }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}","type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', `Por padrão é expense.`, 'string') }}","frequency":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('frequency', `Resultados esperados: 'daily', 'weekly', 'monthly'. Padrão: monthly`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"whatsapp_number","displayName":"whatsapp_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"frequency","displayName":"frequency","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1616,-1152],"id":"11542342-6793-4452-b4cf-ef6a8e9e0b65","name":"inserir_transacao_frequente"},{"parameters":{"description":"Inserir limite.","workflowId":{"__rl":true,"value":"7pZ9CtKiW4fJa3z6","mode":"list","cachedResultName":"database"},"workflowInputs":{"mappingMode":"defineBelow","value":{"amount":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'number') }}","key":"create.budget.limit","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `De onde veio o dinheiro.`, 'string') }}","user_id":"={{ $('usuario').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"whatsapp_number","displayName":"whatsapp_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"frequency","displayName":"frequency","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1824,-1152],"id":"565dbd9a-393d-4a0e-8cc9-3d14fb60daa9","name":"inserir_limite"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Dados","type":"ai_languageModel","index":0},{"node":"Cadastrar usuário","type":"ai_languageModel","index":0},{"node":"Assinatura","type":"ai_languageModel","index":0}]]},"Memória":{"ai_memory":[[{"node":"Dados","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"mensagem","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"mensagem","type":"main","index":1}]]},"If":{"main":[[{"node":"verificacao","type":"main","index":0}],[{"node":"Cadastrar usuário","type":"main","index":0}]]},"Memória1":{"ai_memory":[[{"node":"Cadastrar usuário","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"usuario":{"main":[[{"node":"If","type":"main","index":0}]]},"inserir_gasto":{"ai_tool":[[{"node":"Dados","type":"ai_tool","index":0}]]},"inserir_entrada":{"ai_tool":[[{"node":"Dados","type":"ai_tool","index":0}]]},"Dados":{"main":[[]]},"obter_saldo":{"ai_tool":[[{"node":"Dados","type":"ai_tool","index":0}]]},"inserir_investimento":{"ai_tool":[[{"node":"Dados","type":"ai_tool","index":0}]]},"obter_dados":{"ai_tool":[[{"node":"Dados","type":"ai_tool","index":0}]]},"obter_acesso":{"ai_tool":[[{"node":"Dados","type":"ai_tool","index":0}]]},"mensagem":{"main":[[{"node":"usuario","type":"main","index":0}]]},"registrar_usuario":{"ai_tool":[[{"node":"Cadastrar usuário","type":"ai_tool","index":0}]]},"verificacao":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Dados","type":"main","index":0}],[{"node":"Assinatura","type":"main","index":0}]]},"Memória2":{"ai_memory":[[{"node":"Assinatura","type":"ai_memory","index":0}]]},"gerar_pix":{"ai_tool":[[{"node":"Assinatura","type":"ai_tool","index":0}]]},"inserir_transacao_frequente":{"ai_tool":[[{"node":"Dados","type":"ai_tool","index":0}]]},"inserir_limite":{"ai_tool":[[{"node":"Dados","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"identifier":"","message":""}}]},"versionId":"1e47dec5-5943-49b3-ab94-b41797f0bac4","triggerCount":1,"shared":[{"createdAt":"2025-08-30T12:38:22.123Z","updatedAt":"2025-08-30T12:38:22.123Z","role":"workflow:owner","workflowId":"LQyHfwNvPQccI4fL","projectId":"tfGBfzMepNnJG3zL"}],"tags":[]}