n8n/auth-rzDmGkoogbPFCufL.json
{"createdAt":"2025-09-07T18:23:25.448Z","updatedAt":"2025-09-27T22:58:04.000Z","id":"rzDmGkoogbPFCufL","name":"auth","active":false,"isArchived":false,"nodes":[{"parameters":{"useJson":"={{ true }}","claims":{},"claimsJson":"={{ $json }}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[352,0],"id":"4e36c175-3917-4b7c-ab05-f36ffc97782c","name":"JWT","credentials":{"jwtAuth":{"id":"V1xEfx7Gxr2Dii29","name":"JWT Auth account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"debug","type":"boolean"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-48,0],"id":"d5639f7e-b737-4230-915b-c3ac2115c78c","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"b5897151-b0ba-4f27-b5f4-668845ab39aa","name":"sub","value":"={{ $json.id }}","type":"string"},{"id":"b5fd09c6-6432-423a-8e7a-739dbfe2aff8","name":"role","value":"=authenticated","type":"string"},{"id":"089f2364-d4c6-469a-b47d-cc0053cbf5bb","name":"iat","value":"={{ Math.floor(Date.now() / 1000) }}","type":"number"},{"id":"023ccc95-ecf1-4e2a-a666-b8b33d57cdbf","name":"exp","value":"={{ Math.floor(Date.now() / 1000) + (60 * 60) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,0],"id":"4a0d42f7-9ca6-49f3-9036-ddafe7fb12da","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"d8b48842-418e-4ba9-9b6b-6a62b2abcb5b","name":"url","value":"=https://{{$('When Executed by Another Workflow').item.json.debug ? 'localhost:5173' : 'controla-ai.vercel.app'}}/app?token={{ $json.token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,0],"id":"22a6d834-cfe0-4001-8a6a-60d296ef5862","name":"Edit Fields1"},{"parameters":{"operation":"verify","token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJURVNURSIsInJvbGUiOiJhdXRoZW50aWNhdGVkIiwiZXhwaXJlc0luIjo2MCwiaWF0IjoxNzU3MjgzNTYyfQ.crFZeMQANJ5tVvZuA3F1zwOL2geWFOuhPAOeDTLnUVw","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[768,208],"id":"8e1a4a72-1d49-4078-8d6c-21f6b6af299d","name":"JWT1","credentials":{"jwtAuth":{"id":"V1xEfx7Gxr2Dii29","name":"JWT Auth account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"JWT","type":"main","index":0}]]},"JWT":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":"TESTE","debug":true}}]},"versionId":"3795b2bf-4515-4cbe-beb8-399277e84288","triggerCount":0,"shared":[{"createdAt":"2025-09-07T18:23:25.495Z","updatedAt":"2025-09-07T18:23:25.495Z","role":"workflow:owner","workflowId":"rzDmGkoogbPFCufL","projectId":"tfGBfzMepNnJG3zL"}],"tags":[]}