n8n/base-gIYqm6zZUTmuTtuF.json
{"createdAt":"2025-08-30T12:38:29.152Z","updatedAt":"2025-09-19T21:23:35.000Z","id":"gIYqm6zZUTmuTtuF","name":"base","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"1d422f8d-9723-443d-a5eb-6d969f04a0b2","name":"phone","value":"={{ $('Mensagem').first().json.phone }}","type":"string"},{"id":"5ba39256-0266-4446-b1b8-36e1f54af7e6","name":"message","value":"={{ $('Mensagem').first().json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,272],"id":"ae56cd7c-c822-4ad7-b469-e49ae3ad531a","name":"Texto"},{"parameters":{"assignments":{"assignments":[{"id":"1d422f8d-9723-443d-a5eb-6d969f04a0b2","name":"phone","value":"={{ $('Webhook Message').item.json.phone }}","type":"string"},{"id":"5ba39256-0266-4446-b1b8-36e1f54af7e6","name":"audioBase64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"a367b57c-0899-439c-a8a2-ef95e576cbc7","name":"mimeType","value":"={{ $('Webhook').item.json.body.data.message.audioMessage.mimetype.split(';')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,528],"id":"0bcd0d7b-ca2a-4a33-8302-b1458aa77efa","name":"Audio"},{"parameters":{"operation":"push","list":"=messages:{{ $('Mensagem').first().json.phone }}","messageData":"={{ $json.toJsonString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3568,288],"id":"628d2fee-de2e-47c0-8002-5bb93368e3fc","name":"Guardar mensagem do usuário","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b92122d7-b71f-4c0e-be8a-62b55137436f","leftValue":"={{ $json.isOlderThan5seconds }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4336,288],"id":"d6472dec-2b8e-478d-beed-239c17bcbae4","name":"If"},{"parameters":{"httpMethod":"POST","path":"14b83eef-1a85-421f-843e-fc7b6a9fda61","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,288],"id":"d35ad876-4b6f-4f81-9485-c09e54a9f911","name":"Webhook","webhookId":"14b83eef-1a85-421f-843e-fc7b6a9fda61"},{"parameters":{"operation":"toBinary","sourceProperty":"audioBase64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2768,528],"id":"2d13d94e-b8ae-47d8-bcf4-c5b35f72c3e8","name":"Convert to File"},{"parameters":{"jsCode":"const data = $input.first().json.messages?.map(message => JSON.parse(message)).sort(\n  (a, b) => b.sendAt - a.sendAt,\n)\n\nconst delaySeconds = Number($('Configuração').first().json.nextMessageDelay)\n\nfunction isOlderThan5seconds() {\n  const message = data[0]\n  const now = Date.now()\n\n  return now - message.sendAt > (delaySeconds * 1000) - 1000\n}\n\nreturn {\n  data,\n  isOlderThan5seconds: isOlderThan5seconds(),\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4160,288],"id":"9d2af632-aefc-4e1d-81c7-11a0e11d313b","name":"Verificar tempo da última mensagem"},{"parameters":{"operation":"delete","key":"=messages:{{ $('Mensagem').first().json.phone }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4512,288],"id":"e2d26f82-4b39-4a21-8ca8-0d139b164fae","name":"Deletar mensagens","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"jsCode":"const data = $input.first().json.data\n\nreturn {\n  data: data.map(item => item.message).join('\\n')\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4560,512],"id":"f8afa78a-db36-4616-82cb-21a9c83a0ac4","name":"Compilar mensagens"},{"parameters":{"assignments":{"assignments":[{"id":"471a3b14-6091-4116-825b-45b8b3893a03","name":"timePerCharMs","value":100,"type":"number"},{"id":"e9113bef-0f58-4221-9a7c-b25211a1f731","name":"pauseBotInSeconds","value":600,"type":"number"},{"id":"4ae4ae8a-911b-4a1f-b16b-d1dd18c27a6a","name":"evolutionInstantce","value":"client","type":"string"},{"id":"abd9d8cf-0b41-4562-b4f1-60e583de5c26","name":"evolutionSecretKey","value":"secret","type":"string"},{"id":"086a0435-2825-4671-aab2-a7b7bac27a5b","name":"nextMessageDelay","value":"={{ $json.phone.includes('mockup') ? 1 : 1 }}","type":"number"},{"id":"b44bed9e-bf92-4fd1-a973-f61caaf28463","name":"DEBUG","value":false,"type":"boolean"},{"id":"737d19c0-8289-4463-a7c1-af151c74b606","name":"groqWhisper","value":"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","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,288],"id":"fdcffe7f-2ad3-404b-8049-ebcb835d7589","name":"Configuração"},{"parameters":{"jsCode":"const response = $input.first().json.output;\n\n// Verifica se o texto contém uma lista numerada (1. 2. 3.)\nconst isNumberedList = /^\\s*\\d+\\.\\s/m.test(response);\n\n// Se for lista numerada, não dividir\nif (isNumberedList) {\n  return [{ message: response.trim() }];\n}\n\n// Caso contrário, dividir o texto em frases normais\nconst chunks = response.split(/(?<!\\b\\d)(?<=[!?])\\s+(?=[A-Z])/);\n\nconst result = chunks\n  .map(sentence => sentence.trim())\n  .filter(sentence => sentence.length > 0);\n\nreturn result.map(message => ({ message }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7040,192],"id":"98d97e09-b3de-4666-bb43-61944db7485b","name":"Quebrar texto","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[7360,240],"id":"2c6276ec-1e73-45fc-ae87-77740d0c44c9","name":"Loop Over Items","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem').item.json.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals"},"id":"7881b5a0-5bcf-4bde-9319-6067cfcfc8f4"}],"combinator":"and"},"renameOutput":true,"outputKey":"Recebida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ddc11898-1850-4a7c-82af-ec9cd4b4e3e0","leftValue":"={{ $('Mensagem').item.json.event }}","rightValue":"send.message","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Enviada"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1184,288],"id":"2837289f-b37a-49d7-8dae-dfe083df2eac","name":"Mensagem Evento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem').item.json.type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"fbebb2c5-4a8d-4381-beba-714e134ae59c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b5257b6-207a-4716-b667-5aa1a94e6f9c","leftValue":"={{ $('Mensagem').item.json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2416,400],"id":"9ccbcc1f-48f4-4f62-8188-e11969ae1502","name":"Tipo de Mensagem"},{"parameters":{"amount":"={{ $('Configuração').item.json.nextMessageDelay }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3776,288],"id":"c8dde9f3-3505-4862-aa64-ad93c77f4d88","name":"Aguardar novas mensagens","webhookId":"05c3e306-4d89-4f18-a363-df4b1aa4965b"},{"parameters":{"operation":"get","propertyName":"messages","key":"=messages:{{ $('Mensagem').first().json.phone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3952,288],"id":"ae041eff-dce8-4d5c-85b5-2988be2a538d","name":"Obter mensagens","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=http://evolution:8080/message/sendText/{{ $('Configuração').first().json.evolutionInstantce }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey","value":"={{ $('Configuração').first().json.evolutionSecretKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Mensagem').item.json.phone }}"},{"name":"text","value":"={{ $json.message }}"},{"name":"delay","value":"={{ $json.message.length * $('Configuração').item.json.timePerCharMs / 2 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7648,240],"id":"ac5dc4c6-d701-4e9e-b8ff-2f4025be2704","name":"Enviar mensagem","disabled":true},{"parameters":{"content":"## Armazenamento e Processamento de Mensagens do Usuário\n\nEste fluxo detecta o tipo de mensagem (texto ou áudio), armazena o conteúdo do usuário e aguarda novas interações. \nSe a última mensagem tiver sido enviada há mais de 5 segundos, o cache é limpo. Ao final, as mensagens válidas são compiladas para processamento.\n\n✅ To-Do:\n🔊 Enviar o áudio obtido para transcrição após o nó \"Convert to File\".","height":720,"width":2560,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,0],"id":"078c71bf-c246-449c-937d-221f3f768681","name":"Sticky Note1"},{"parameters":{"content":"## Agente de IA\n\nEste nó representa um agente de IA configurado com ferramentas (Tools) e memória opcional, utilizando um modelo de linguagem. Ele é responsável por processar solicitações complexas, executar tarefas com ferramentas conectadas e gerar respostas contextualizadas com base no prompt recebido.","height":720,"width":1080,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4896,32],"typeVersion":1,"id":"0f10d78c-7a5b-47bd-8baf-e2daf9caac52","name":"Sticky Note2"},{"parameters":{"content":"## Divisão e Envio de Mensagens Longas\n\nApós a geração de resposta pelo agente de IA, este trecho do fluxo divide o texto em partes menores usando o nó “Quebrar texto”. Em seguida, as partes são percorridas em loop e enviadas uma a uma com o nó “Enviar mensagem”, garantindo que conteúdos longos sejam transmitidos de forma segmentada e controlada.","height":720,"width":1280},"type":"n8n-nodes-base.stickyNote","position":[6032,48],"typeVersion":1,"id":"65fcff87-c21a-4153-9a0c-586c2ac53bfc","name":"Sticky Note3"},{"parameters":{"content":"## Fluxo de Controle de Pausa do Bot\n\n\nGerencia a pausa do bot com base em eventos recebidos via Webhook, aplicando regras para pausar ou continuar o atendimento automaticamente.","height":620,"width":1880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,0],"id":"57bf55e1-421e-4a6e-a06d-5eff405264b2","name":"Sticky Note"},{"parameters":{"jsCode":"return {\n  sendAt: Date.now(),\n  phone: $input.first().json.phone,\n  message: $input.first().json.message\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3392,288],"id":"398cd457-4144-47e3-8618-a2abc238da3f","name":"Code"},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-80,448],"id":"ed3e7e5c-04c4-4035-88e2-fb8ecadcd01d","name":"When chat message received","webhookId":"4f7490ef-c0bc-4c4b-94b9-14707a3de1a0"},{"parameters":{"assignments":{"assignments":[{"id":"fd1da8ac-3643-46c4-bfe9-8258464867fb","name":"phone","value":"={{ $json.sessionId }}@mockup","type":"string"},{"id":"30e5b32a-ecb1-4846-9ed4-c4e685914e4d","name":"message","value":"={{ $json.chatInput }}","type":"string"},{"id":"df8cb9eb-8b70-457a-b689-4fe47910106a","name":"type","value":"conversation","type":"string"},{"id":"5a46283f-f588-4915-af15-e513c09a3047","name":"isFromMe","value":false,"type":"boolean"},{"id":"e43f8e69-1750-4aba-ba00-5929e43e7a32","name":"event","value":"messages.upsert","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,448],"id":"5027bf32-f1fb-4145-8f2e-e3de8b7fc0ae","name":"Mockup Message"},{"parameters":{"assignments":{"assignments":[{"id":"00026e09-f9a3-48ad-840c-0a9932c15dff","name":"phone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"df0fed17-5f67-4464-8e2e-a61c8ebae5bc","name":"message","value":"={{\n  [$('Webhook').item.json.body?.data?.contextInfo?.quotedMessage?.conversation, $('Webhook').item.json.body.data.message.conversation].filter(Boolean).join('\\n\\n')\n}}","type":"string"},{"id":"18e2d7ce-1af8-4543-95e2-22137c955672","name":"type","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"7818bf80-f808-47a7-9f3f-1d01bf33dbc6","name":"isFromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"d42fe3f8-2366-4ecf-be52-88d2e4b0e5cb","name":"event","value":"={{ $('Webhook').item.json.body.event }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,288],"id":"25f93b74-5197-42dd-b3f8-668a6810d8cc","name":"Webhook Message"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[336,352],"id":"8b8fab44-b985-46ed-950e-351eaf37406f","name":"Mensagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd835433-de99-481a-afb7-564e40164a99","leftValue":"={{ $('Mensagem').item.json.phone.includes('mockup') }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6512,272],"id":"6d2dd609-0801-4fc2-8247-59586c785e41","name":"If6"},{"parameters":{"assignments":{"assignments":[{"id":"515280f9-a12c-482e-a853-94b1eb2581bc","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6752,448],"id":"f1b13cfd-018c-441b-b0c6-64ba25988184","name":"Saída"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=bearer {{ $('Configuração').item.json.groqWhisper }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"pt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,528],"id":"ba9c02a4-4470-4ebf-8b76-43c7c4c6dd62","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"1d422f8d-9723-443d-a5eb-6d969f04a0b2","name":"phone","value":"={{ $('Mensagem').first().json.phone }}","type":"string"},{"id":"5ba39256-0266-4446-b1b8-36e1f54af7e6","name":"message","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3120,528],"id":"0e946921-cb92-4d20-b22c-fa3b8bae3bf8","name":"Transcrição"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3232,288],"id":"e7940f3e-1cdf-4f14-8fe0-a2db75dbd7b2","name":"Merge1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.DEBUG && $('Mensagem').item.json.phone === '556196661389@s.whatsapp.net' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"050f1a41-30e9-4885-906b-d293f2a861ea"}],"combinator":"and"},"renameOutput":true,"outputKey":"Eu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93c6bd57-a098-4893-b9c6-aaa343c15d99","leftValue":"={{ $json.DEBUG && $('Mensagem').item.json.phone !== '556196661389@s.whatsapp.net' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Trava"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c13f421f-e1dd-4d67-81e1-e135d8dc7833","leftValue":"={{ $json.DEBUG }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Seguir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[976,288],"id":"e1879195-9396-4211-8054-885c0fb93ed7","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"LQyHfwNvPQccI4fL","mode":"list","cachedResultName":"agente de ia"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.data }}","identifier":"={{ $('Mensagem').item.json.phone }}"},"matchingColumns":[],"schema":[{"id":"identifier","displayName":"identifier","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5392,384],"id":"2a3bbb29-5c6c-4498-9afb-819ed6836b82","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58dbbe50-123a-4d18-9f87-52ab1cf4f57f","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"0b10001a-bd77-4a2f-9fa1-11bbf49b747e","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556196661389@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[16,112],"id":"c79de8e4-e83f-4faf-b864-0344e165f718","name":"Filter"},{"parameters":{"method":"POST","url":"=http://evolution:8080/message/sendText/{{ $('Configuração').first().json.evolutionInstantce }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey","value":"={{ $('Configuração').first().json.evolutionSecretKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Mensagem').item.json.phone }}"},{"name":"text","value":"={{ $('Execute Workflow1').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6784,224],"id":"470579cb-0058-47af-8626-c89c53a7d7de","name":"Enviar mensagem2"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-48,1008],"id":"68f05f98-8525-430f-b40b-f5c4af8b840f","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"select \n  s.id as subscription_id,\n  s.status,\n  u.whatsapp_number\nfrom subscriptions s\njoin users u on u.id = s.user_id\nwhere s.status = 'payed';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,1008],"id":"6f34f45a-1a18-4058-8290-cf0e37e8c956","name":"Execute a SQL query","credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,1008],"id":"7a604b94-cf73-4b89-bb4b-d5cd76b23b44","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,1008],"id":"eede15f1-afb0-4a25-9808-4a24b345bd2a","name":"Wait","webhookId":"f1fa15a8-3665-4690-9ab9-e4ee1d558a35"},{"parameters":{"assignments":{"assignments":[{"id":"471a3b14-6091-4116-825b-45b8b3893a03","name":"timePerCharMs","value":100,"type":"number"},{"id":"e9113bef-0f58-4221-9a7c-b25211a1f731","name":"pauseBotInSeconds","value":600,"type":"number"},{"id":"4ae4ae8a-911b-4a1f-b16b-d1dd18c27a6a","name":"evolutionInstantce","value":"client","type":"string"},{"id":"abd9d8cf-0b41-4562-b4f1-60e583de5c26","name":"evolutionSecretKey","value":"secret","type":"string"},{"id":"086a0435-2825-4671-aab2-a7b7bac27a5b","name":"nextMessageDelay","value":"={{ $json.phone.includes('mockup') ? 1 : 1 }}","type":"number"},{"id":"b44bed9e-bf92-4fd1-a973-f61caaf28463","name":"DEBUG","value":false,"type":"boolean"},{"id":"737d19c0-8289-4463-a7c1-af151c74b606","name":"groqWhisper","value":"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","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,1008],"id":"250c4063-9437-4d3e-ab68-7550ee1efedc","name":"Configuração1"},{"parameters":{"method":"POST","url":"=http://evolution:8080/message/sendText/{{ $('Configuração1').first().json.evolutionInstantce }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey","value":"={{ $('Configuração1').first().json.evolutionSecretKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Execute a SQL query').item.json.whatsapp_number }}"},{"name":"text","value":"=Assinatura confirmada! Agora você tem acesso total ao seu assistente financeiro."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1056,1008],"id":"2c74805b-62a9-48fe-84c4-1bd1bed7e7e2","name":"Enviar mensagem3"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"subscriptions","mode":"list","cachedResultName":"subscriptions"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.subscription_id }}","status":"active"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"price","displayName":"price","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"payment_method","displayName":"payment_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"payment_id","displayName":"payment_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"paid_at","displayName":"paid_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"expires_at","displayName":"expires_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"last_sent_at","displayName":"last_sent_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,1008],"id":"80ab6478-a457-4afc-9c05-dd53b11b2f95","name":"update status to active","credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}}],"connections":{"Texto":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Guardar mensagem do usuário":{"main":[[{"node":"Aguardar novas mensagens","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Verificar tempo da última mensagem":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Deletar mensagens","type":"main","index":0}]]},"Deletar mensagens":{"main":[[{"node":"Compilar mensagens","type":"main","index":0}]]},"Compilar mensagens":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Quebrar texto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Enviar mensagem","type":"main","index":0}]]},"Configuração":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Mensagem Evento":{"main":[[{"node":"Tipo de Mensagem","type":"main","index":0}]]},"Tipo de Mensagem":{"main":[[{"node":"Texto","type":"main","index":0}],[{"node":"Audio","type":"main","index":0}]]},"Aguardar novas mensagens":{"main":[[{"node":"Obter mensagens","type":"main","index":0}]]},"Obter mensagens":{"main":[[{"node":"Verificar tempo da última mensagem","type":"main","index":0}]]},"Enviar mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Guardar mensagem do usuário","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Mockup Message","type":"main","index":0}]]},"Mockup Message":{"main":[[{"node":"Mensagem","type":"main","index":1}]]},"Webhook Message":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Configuração","type":"main","index":0}]]},"If6":{"main":[[{"node":"Enviar mensagem2","type":"main","index":0}],[{"node":"Saída","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcrição","type":"main","index":0}]]},"Transcrição":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem Evento","type":"main","index":0}],[],[{"node":"Mensagem Evento","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"If6","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Webhook Message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"update status to active","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Configuração1":{"main":[[{"node":"Enviar mensagem3","type":"main","index":0}]]},"Enviar mensagem3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"update status to active":{"main":[[{"node":"Configuração1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2634db9a-4719-42c3-a177-5b7fc14f2f80","triggerCount":3,"shared":[{"createdAt":"2025-08-30T12:38:29.169Z","updatedAt":"2025-08-30T12:38:29.169Z","role":"workflow:owner","workflowId":"gIYqm6zZUTmuTtuF","projectId":"tfGBfzMepNnJG3zL"}],"tags":[]}