n8n/database-7pZ9CtKiW4fJa3z6.json
{"createdAt":"2025-08-31T00:28:58.246Z","updatedAt":"2025-09-19T20:44:11.000Z","id":"7pZ9CtKiW4fJa3z6","name":"database","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"user_id"},{"name":"key"},{"name":"description"},{"name":"amount","type":"number"},{"name":"category"},{"name":"date"},{"name":"name"},{"name":"email"},{"name":"cpf"},{"name":"whatsapp_number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1616,800],"id":"9e81f142-a56b-4c55-848b-7bfc84bf4755","name":"When Executed by Another Workflow"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"transactions","mode":"list","cachedResultName":"transactions"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.user_id }}","amount":"={{ $('When Executed by Another Workflow').item.json.amount }}","type":"income","transaction_date":"={{ $('When Executed by Another Workflow').item.json.date }}","category":"={{ $('When Executed by Another Workflow').item.json.category }}","description":"={{ $('When Executed by Another Workflow').item.json.description }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_id","displayName":"user_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"amount","displayName":"amount","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"transaction_date","displayName":"transaction_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1168,320],"id":"af408622-f1c0-44be-b638-79b885f9b07c","name":"insert incomes","credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"transactions","mode":"list","cachedResultName":"transactions"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.user_id }}","description":"={{ $('When Executed by Another Workflow').item.json.description }}","amount":"={{ $('When Executed by Another Workflow').item.json.amount }}","category":"={{ $('When Executed by Another Workflow').item.json.category }}","type":"expense","transaction_date":"={{ $('When Executed by Another Workflow').item.json.date }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_id","displayName":"user_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"amount","displayName":"amount","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transaction_date","displayName":"transaction_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1168,512],"id":"ac99b2f3-632f-4ffd-88f0-c15ed05ea050","name":"insert expenses","credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.key }}","rightValue":"incomes","operator":{"type":"string","operation":"equals"},"id":"20918cf6-4539-46a3-830e-b80cb8817b2b"}],"combinator":"and"},"renameOutput":true,"outputKey":"incomes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e09ed716-cbe9-4f37-ba8d-b93917d03b9a","leftValue":"={{ $('When Executed by Another Workflow').item.json.key }}","rightValue":"expenses","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expenses"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"621df06d-3c11-4df5-939f-726d354f3a67","leftValue":"={{ $('When Executed by Another Workflow').item.json.key }}","rightValue":"investment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"investment"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78120955-88fe-46af-a175-3878c0f89b66","leftValue":"={{ $('When Executed by Another Workflow').item.json.key }}","rightValue":"balance","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"balance"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"feda5e8d-26d3-4d72-a07e-d34119acd015","leftValue":"={{ $('When Executed by Another Workflow').item.json.key }}","rightValue":"search","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"search"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f42aa06-18eb-47d7-bd15-4c1718b9f521","leftValue":"={{ $('When Executed by Another Workflow').item.json.key }}","rightValue":"new.user","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1392,736],"id":"3c6280b4-e7b8-4a77-9e0b-2d693fccbc3a","name":"Switch1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"transactions","mode":"list","cachedResultName":"transactions"},"returnAll":true,"where":{"values":[{"column":"user_id","value":"={{ $('When Executed by Another Workflow').item.json.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1168,896],"id":"1dd35d79-cc31-4438-99bf-cbf189ce8c54","name":"get transactions","credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"jsCode":"const data = $input.all() ?? []\n\nlet total = 0\nlet investmentTotal = 0\n\nconst typeMap = new Map([\n  ['income', 'Entrada'],\n  ['expense', 'Saída'],\n  ['investment', 'Investimento']\n]);\n\nconst transactions = data?.map(item => {\n  const amount = Number(item.json.amount) ?? 0\n\n  if(item.json.type === 'income') {\n    total += amount  \n  } else {\n    total -= amount\n  }\n\n  if(item.json.type === 'investment') {\n    investmentTotal += amount\n  }\n  \n  \n  return {\n    type: typeMap.get(item.json.type) ?? 'Saída',\n    amount,\n    category: item.json.category,\n    description: item.json.description,\n    transaction_date: item.json.transaction_date,\n  }\n})\n\nreturn {\n  output: {\n    total_sem_investimento: total.toFixed(2),\n    apenas_investimento: investmentTotal.toFixed(2)\n  }\n}\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,896],"id":"b09180bf-9c0c-45c7-a0dd-ce9e3d676edc","name":"Code"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"transactions","mode":"list","cachedResultName":"transactions"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('When Executed by Another Workflow').item.json.user_id }}","description":"={{ $('When Executed by Another Workflow').item.json.description }}","amount":"={{ $('When Executed by Another Workflow').item.json.amount }}","type":"investment","transaction_date":"={{ $('When Executed by Another Workflow').item.json.date }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_id","displayName":"user_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"amount","displayName":"amount","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transaction_date","displayName":"transaction_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1168,704],"id":"494f2928-dcfd-4c12-ae2d-3b8a936f02e7","name":"insert investment","credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM transactions\nWHERE user_id = '{{ $('When Executed by Another Workflow').item.json.user_id }}'\n  AND transaction_date BETWEEN '{{ $('When Executed by Another Workflow').item.json.date?.split(';')[0] }}' AND '{{ $('When Executed by Another Workflow').item.json.date?.split(';')[1] }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1168,1088],"id":"1235cc80-065f-4b4b-8ac9-1e3ca90fed61","name":"search","alwaysOutputData":true,"credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.key }}","rightValue":"incomes","operator":{"type":"string","operation":"equals"},"id":"20918cf6-4539-46a3-830e-b80cb8817b2b"}],"combinator":"and"},"renameOutput":true,"outputKey":"incomes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e09ed716-cbe9-4f37-ba8d-b93917d03b9a","leftValue":"={{ $('When Executed by Another Workflow').item.json.key }}","rightValue":"expenses","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expenses"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f571521e-8ccc-4921-be9d-e84b3d145c98","leftValue":"={{ $('When Executed by Another Workflow').item.json.key }}","rightValue":"investment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"investment"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1040,-24],"id":"dcb472bc-8a5a-4e94-b6a2-0aaa12ddfbdf","name":"Switch"},{"parameters":{"mode":"insert","tableName":"user_finance_embeddings","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-1392,-112],"id":"b0e4cc03-4021-488b-b4dd-aa16aaa55fb5","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"R1PVEhOmlatrYLKx","name":"Postgres account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $('When Executed by Another Workflow').item.json.user_id }}"},{"name":"date","value":"={{ $('When Executed by Another Workflow').item.json.date }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1256,112],"id":"5d8d1e8a-7c56-4bcc-b4f7-1dd07d44d945","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1384,112],"id":"0b794b0b-d134-4ea2-a523-659e75e836fa","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"cvdQbdKvMTB3Yl5I","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b0deceb7-c79f-4aa4-b32d-93615f7736ee","name":"output","value":"={{ \n  {incomes: 'Entrada',expenses: 'Saída',investment:'Investimento'}[$json.key] ?? ''\n}} = \nDescrição:{{ $json.description }}\nCategoria:{{ $json.category }} \nDo valor de {{ $json.amount }} no dia {{ $json.date }}.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,-8],"id":"858126d1-d1fb-4fc4-aa00-ba4aff77d9f7","name":"Contexto"},{"parameters":{"operation":"delete","key":"=memory:{{ $('When Executed by Another Workflow').item.json.user_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-944,512],"id":"69f6d36b-36a0-4089-88d6-657bf742cda6","name":"Redis","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"whatsapp_number":"={{ $json.whatsapp_number }}","name":"={{ $json.name }}","email":"={{ $json.email }}","cpf":"={{ $json.cpf }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"whatsapp_number","displayName":"whatsapp_number","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-720,1184],"id":"7f22bd99-d054-4182-87c4-f4264d1a8a93","name":"create user","credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"a867503d-7510-4d3e-9dec-a52618c049ee","name":"free_days","value":7,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,1184],"id":"6d1b108c-7ba4-4603-b7a4-bca62adfe1dc","name":"Edit Fields"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"subscriptions","mode":"list","cachedResultName":"subscriptions"},"columns":{"mappingMode":"defineBelow","value":{"price":0,"user_id":"={{ $('create user').item.json.id }}","expires_at":"={{ $now.plus($json.free_days,'days') }}","status":"active"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"price","displayName":"price","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"payment_method","displayName":"payment_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"payment_id","displayName":"payment_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"paid_at","displayName":"paid_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"expires_at","displayName":"expires_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-272,1184],"id":"49b8b3b7-3051-4560-85f4-b182a3d23b7a","name":"create subscription","credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"2b3f2467-8bf4-4187-a807-849000b76fa7","name":"output","value":"=Conta registrada, e período grátis de  {{ $('Edit Fields').item.json.free_days }} dias iniciado.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,1184],"id":"fb4296c3-8812-400a-86c3-3464ec6b4181","name":"Edit Fields1"},{"parameters":{"jsCode":"function isValidCPF(cpf) {\n  if (typeof cpf !== 'string') return false;\n\n  cpf = cpf.replace(/[^\\d]+/g, '');\n\n  if (cpf.length !== 11 || /^(\\d)\\1+$/.test(cpf)) return false;\n\n  let sum = 0;\n  for (let i = 0; i < 9; i++) {\n    sum += parseInt(cpf.charAt(i)) * (10 - i);\n  }\n\n  let firstCheck = 11 - (sum % 11);\n  if (firstCheck >= 10) firstCheck = 0;\n  if (firstCheck !== parseInt(cpf.charAt(9))) return false;\n\n  sum = 0;\n  for (let i = 0; i < 10; i++) {\n    sum += parseInt(cpf.charAt(i)) * (11 - i);\n  }\n\n  let secondCheck = 11 - (sum % 11);\n  if (secondCheck >= 10) secondCheck = 0;\n  if (secondCheck !== parseInt(cpf.charAt(10))) return false;\n\n  return true;\n}\n\nreturn {\n  data: {\n    isValidCpf: isValidCPF($input.first().json.cpf)\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,1280],"id":"beeac7e7-4e4b-435b-9ab5-87691855b739","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d6f87a94-3e13-42fb-9f77-65b8f805d91a","leftValue":"={{ $json.data.isValidCpf }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-944,1280],"id":"9d65c57b-cb65-41c7-9fb2-bc540d2a3339","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"2b3f2467-8bf4-4187-a807-849000b76fa7","name":"output","value":"=Número de CPF inválido.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,1376],"id":"8b1f126a-dcda-4bab-ba9a-babf90368cfe","name":"Edit Fields2"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"insert incomes","type":"main","index":0}],[{"node":"insert expenses","type":"main","index":0}],[{"node":"insert investment","type":"main","index":0}],[{"node":"get transactions","type":"main","index":0}],[{"node":"search","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"get transactions":{"main":[[{"node":"Code","type":"main","index":0}]]},"search":{"main":[[]]},"Postgres PGVector Store":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Contexto":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"insert incomes":{"main":[[{"node":"Redis","type":"main","index":0}]]},"insert expenses":{"main":[[{"node":"Redis","type":"main","index":0}]]},"insert investment":{"main":[[{"node":"Redis","type":"main","index":0}]]},"create user":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"create subscription","type":"main","index":0}]]},"create subscription":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"create user","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"user_id":"4b75f349-3f81-425d-956a-4316bea877f8","key":"new.user","description":"TESTE","amount":50,"category":"...","date":"2025-09-02","name":"","email":"","cpf":"","whatsapp_number":""}}]},"versionId":"99f3e97d-5e73-4837-af3c-740a8b01fecb","triggerCount":0,"shared":[{"createdAt":"2025-08-31T00:28:58.257Z","updatedAt":"2025-08-31T00:28:58.257Z","role":"workflow:owner","workflowId":"7pZ9CtKiW4fJa3z6","projectId":"tfGBfzMepNnJG3zL"}],"tags":[]}