n8n/gerar-pix-IQ1jBTN88w2YtcwN.json
{"createdAt":"2025-09-14T19:10:31.163Z","updatedAt":"2025-09-19T20:38:12.000Z","id":"IQ1jBTN88w2YtcwN","name":"gerar pix","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"d5ca2013-0b0e-4c78-ae7b-6749c5801f33","name":"output","value":"={{ $json.point_of_interaction.transaction_data.qr_code }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,-1184],"id":"2ea8d98c-981f-486a-a061-1fa29dde97eb","name":"Separar Pix"},{"parameters":{"method":"POST","url":"https://api.mercadopago.com/v1/payments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"X-Idempotency-Key","value":"={{ $json.external_reference }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"description\": \"{{ $json.description }}\",\n   \"external_reference\": \"{{ $json.external_reference }}\",\n   \"notification_url\": \"{{ $json.notification_url }}\",\n   \"external_reference\": \"{{ $('When Executed by Another Workflow').item.json.id }}\",\n   \"payer\": {\n      \"first_name\": \"{{ $('When Executed by Another Workflow').item.json.name }}\",\n      \"email\": \"{{ $('When Executed by Another Workflow').item.json.email }}\",\n            \"identification\": {\n            \"type\": \"CPF\",\n            \"number\": \"{{ $('When Executed by Another Workflow').item.json.cpf }}\"\n            }\n   },\n   \"payment_method_id\": \"pix\",\n   \"transaction_amount\": {{ $json.preco }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,-1184],"id":"88776170-cf86-490e-bfcd-821c8b8ae6dd","name":"API Mercado Pago"},{"parameters":{"assignments":{"assignments":[{"id":"4ed3cf60-f355-420c-bd51-a9702c2ca8af","name":"public_Key","value":"APP_USR-9e9102d2-f0c1-4cc5-b46e-2c1e2ced84d9","type":"string"},{"id":"0d690fec-4b00-4e32-9139-a08613f1feea","name":"access_token","value":"APP_USR-2265269869514372-091414-2d933f95fac1d0d15eebc362e3ea2924-2544283703","type":"string"},{"id":"7096c8a6-86dc-40ed-8a4f-c923b6d328b8","name":"preco","value":"1","type":"string"},{"id":"f54fdb6d-6a82-4880-a7de-488b7b3c9d2a","name":"external_reference","value":"=CLIENTE{{ Math.floor(Math.random() * 10000) + 1 }}","type":"string"},{"id":"e8f040ed-27d4-475e-936a-342ec94fa21b","name":"description","value":"Assinatura controla.ai","type":"string"},{"id":"997c1ae6-d834-4cf0-9175-412188f7ba75","name":"notification_url","value":"https://controla-ai-fake-server.onrender.com/webhook","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-1184],"id":"6b043c34-c870-44ea-8c3a-d73bc4ae19a2","name":"Credenciais"},{"parameters":{"content":"![Pix](https://i.imgur.com/DL4glmc.png)","width":150,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1328,-1392],"id":"9b70be38-4e01-4bd8-ad28-2be650f746fc","name":"Sticky Note3"},{"parameters":{"content":"## Pix\nRecebe o QRCode e o Pix Copia e Cola!","width":300,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1488,-1392],"id":"679864df-d087-4f21-8831-9e1988663297","name":"Sticky Note4"},{"parameters":{"content":"![Mercado Pago](https://i.imgur.com/NfMJMMp.png)","width":150,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,-1392],"id":"a47287a1-630a-40bd-a9b2-188d4cdb83b4","name":"Sticky Note5"},{"parameters":{"content":"## API do Mercado Pago\nCredenciais e Informações!","width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[704,-1392],"id":"bef76be1-8e9b-44cd-a4c6-93f5ff4641b0","name":"Sticky Note6"},{"parameters":{"url":"https://controla-ai-fake-server.onrender.com/health","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,-1184],"id":"ab2ea8f0-8470-48bd-8b24-825a5965c1ae","name":"HTTP Request1","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"cpf"},{"name":"email"},{"name":"name"},{"name":"whatsapp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[288,-1184],"id":"c48325a8-8aa6-48f6-a039-02c574ef07f0","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"=http://evolution:8080/message/sendText/{{ $('Configuração').first().json.evolutionInstantce }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey","value":"={{ $('Configuração').first().json.evolutionSecretKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('When Executed by Another Workflow').item.json.whatsapp }}"},{"name":"text","value":"={{ $('Separar Pix').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1856,-1184],"id":"cdb00be9-5552-4799-bef5-6650c8c0cd07","name":"Enviar mensagem3","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"471a3b14-6091-4116-825b-45b8b3893a03","name":"timePerCharMs","value":100,"type":"number"},{"id":"e9113bef-0f58-4221-9a7c-b25211a1f731","name":"pauseBotInSeconds","value":600,"type":"number"},{"id":"4ae4ae8a-911b-4a1f-b16b-d1dd18c27a6a","name":"evolutionInstantce","value":"client","type":"string"},{"id":"abd9d8cf-0b41-4562-b4f1-60e583de5c26","name":"evolutionSecretKey","value":"secret","type":"string"},{"id":"b44bed9e-bf92-4fd1-a973-f61caaf28463","name":"DEBUG","value":false,"type":"boolean"},{"id":"737d19c0-8289-4463-a7c1-af151c74b606","name":"groqWhisper","value":"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","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,-1184],"id":"aa541dfe-fdc9-474f-b7a3-51c01ddbf596","name":"Configuração"},{"parameters":{"assignments":{"assignments":[{"id":"ea97497d-f4b7-470d-a0ae-99ebaf6d01a2","name":"output","value":"Pix Copia e Cola Enviado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2064,-1184],"id":"bb278e84-b33b-44e4-8ebe-5b372b0d2e25","name":"Edit Fields"}],"connections":{"Separar Pix":{"main":[[{"node":"Configuração","type":"main","index":0}]]},"API Mercado Pago":{"main":[[{"node":"Separar Pix","type":"main","index":0}]]},"Credenciais":{"main":[[{"node":"API Mercado Pago","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Credenciais","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Configuração":{"main":[[{"node":"Enviar mensagem3","type":"main","index":0}]]},"Enviar mensagem3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":"TESTE-012","cpf":"06564800177","email":"weickmam07@gmail.com","name":"Weickmam Machado","whatsapp":"whatsapp"}}]},"versionId":"d4bdd33c-f19b-4349-b93d-95498a243ecc","triggerCount":0,"shared":[{"createdAt":"2025-09-14T19:10:31.315Z","updatedAt":"2025-09-14T19:10:31.315Z","role":"workflow:owner","workflowId":"IQ1jBTN88w2YtcwN","projectId":"tfGBfzMepNnJG3zL"}],"tags":[]}