n8n/main-g8LrWd3OqEgdqpaE.json
{"createdAt":"2025-09-03T17:40:49.487Z","updatedAt":"2025-09-05T09:34:13.000Z","id":"g8LrWd3OqEgdqpaE","name":"main","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"1d422f8d-9723-443d-a5eb-6d969f04a0b2","name":"phone","value":"={{ $('Mensagem').first().json.phone }}","type":"string"},{"id":"5ba39256-0266-4446-b1b8-36e1f54af7e6","name":"message","value":"={{ $('Mensagem').first().json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2896,256],"id":"6c36311b-efc7-426c-b401-3262af165550","name":"Texto"},{"parameters":{"assignments":{"assignments":[{"id":"1d422f8d-9723-443d-a5eb-6d969f04a0b2","name":"phone","value":"={{ $('Webhook Message').item.json.phone }}","type":"string"},{"id":"5ba39256-0266-4446-b1b8-36e1f54af7e6","name":"audioBase64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"a367b57c-0899-439c-a8a2-ef95e576cbc7","name":"mimeType","value":"={{ $('Webhook').item.json.body.data.message.audioMessage.mimetype.split(';')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2896,512],"id":"a0198115-19a4-4ac0-aeca-7bbb8a11f68c","name":"Audio"},{"parameters":{"operation":"push","list":"=messages:{{ $('Mensagem').first().json.phone }}","messageData":"={{ $json.toJsonString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3824,272],"id":"5762b866-4673-41ac-b05f-1656baf7734a","name":"Guardar mensagem do usuário","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b92122d7-b71f-4c0e-be8a-62b55137436f","leftValue":"={{ $json.isOlderThan5seconds }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4592,272],"id":"f37fbc1a-e52e-4626-8355-64e706a1f783","name":"If"},{"parameters":{"httpMethod":"POST","path":"14b83eef-1a85-421f-843e-fc7b6a9fda61","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,272],"id":"cd3b87c5-fe76-4bf4-9b45-859fe401924d","name":"Webhook","webhookId":"14b83eef-1a85-421f-843e-fc7b6a9fda61"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14c599f3-c7d6-43a8-8978-6be5d057cec0","leftValue":"={{ $('Mensagem').item.json.isFromMe && !$json.DEBUG }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1728,256],"id":"3469766c-d42a-44a1-bd4b-e5e1843b528a","name":"If1"},{"parameters":{"operation":"toBinary","sourceProperty":"audioBase64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3024,512],"id":"85c0cbd5-fc7c-43c3-b423-67a27225775e","name":"Convert to File"},{"parameters":{"jsCode":"const data = $input.first().json.messages?.map(message => JSON.parse(message)).sort(\n  (a, b) => b.sendAt - a.sendAt,\n)\n\nconst delaySeconds = Number($('Configuração').first().json.nextMessageDelay)\n\nfunction isOlderThan5seconds() {\n  const message = data[0]\n  const now = Date.now()\n\n  return now - message.sendAt > (delaySeconds * 1000) - 1000\n}\n\nreturn {\n  data,\n  isOlderThan5seconds: isOlderThan5seconds(),\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4416,272],"id":"4466918c-769f-4f93-987f-5a5a7364b94a","name":"Verificar tempo da última mensagem"},{"parameters":{"operation":"delete","key":"=messages:{{ $('Mensagem').first().json.phone }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4768,272],"id":"8a2a092e-aaa6-4f58-bef6-5ba5463c57d0","name":"Deletar mensagens","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"jsCode":"const data = $input.first().json.data\n\nreturn {\n  data: data.map(item => item.message).join('\\n')\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4816,496],"id":"2ccc7104-090a-40b3-889b-50ca6897fdc9","name":"Compilar mensagens"},{"parameters":{"assignments":{"assignments":[{"id":"471a3b14-6091-4116-825b-45b8b3893a03","name":"timePerCharMs","value":100,"type":"number"},{"id":"e9113bef-0f58-4221-9a7c-b25211a1f731","name":"pauseBotInSeconds","value":600,"type":"number"},{"id":"4ae4ae8a-911b-4a1f-b16b-d1dd18c27a6a","name":"evolutionInstantce","value":"client","type":"string"},{"id":"abd9d8cf-0b41-4562-b4f1-60e583de5c26","name":"evolutionSecretKey","value":"secret","type":"string"},{"id":"086a0435-2825-4671-aab2-a7b7bac27a5b","name":"nextMessageDelay","value":"={{ $json.phone.includes('mockup') ? 1 : 1 }}","type":"number"},{"id":"b44bed9e-bf92-4fd1-a973-f61caaf28463","name":"DEBUG","value":false,"type":"boolean"},{"id":"737d19c0-8289-4463-a7c1-af151c74b606","name":"groqWhisper","value":"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","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,272],"id":"3693f947-98c3-4a2b-b606-64d4431bd092","name":"Configuração"},{"parameters":{"jsCode":"const response = $input.first().json.output;\n\n// Verifica se o texto contém uma lista numerada (1. 2. 3.)\nconst isNumberedList = /^\\s*\\d+\\.\\s/m.test(response);\n\n// Se for lista numerada, não dividir\nif (isNumberedList) {\n  return [{ message: response.trim() }];\n}\n\n// Caso contrário, dividir o texto em frases normais\nconst chunks = response.split(/(?<!\\b\\d)(?<=[!?])\\s+(?=[A-Z])/);\n\nconst result = chunks\n  .map(sentence => sentence.trim())\n  .filter(sentence => sentence.length > 0);\n\nreturn result.map(message => ({ message }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6736,240],"id":"91f41927-0c7d-4c1d-83e2-e1fa1e4e6eb9","name":"Quebrar texto"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[7056,288],"id":"d0e32cd7-212e-4a8f-9a03-df38a02970ce","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem').item.json.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals"},"id":"7881b5a0-5bcf-4bde-9319-6067cfcfc8f4"}],"combinator":"and"},"renameOutput":true,"outputKey":"Recebida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ddc11898-1850-4a7c-82af-ec9cd4b4e3e0","leftValue":"={{ $('Mensagem').item.json.event }}","rightValue":"send.message","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Enviada"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1440,272],"id":"5bcec875-e372-4cab-b4ce-c200cf6ffb96","name":"Mensagem Evento"},{"parameters":{"operation":"set","key":"=PAUSE_BOT:{{ $('Mensagem').item.json.phone }}","value":"true","expire":true,"ttl":"={{ $('Configuração').item.json.pauseBotInSeconds }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1888,256],"id":"c1be475b-f1b0-444e-9737-775fa1094e4c","name":"Pausar Bot","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"PAUSE_BOT","key":"=PAUSE_BOT:{{ $('Mensagem').item.json.phone }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1888,384],"id":"29006962-011b-40ed-abd5-c169656e1bb9","name":"Obter status do bot","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.PAUSE_BOT }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"197742c3-cf15-49ec-8d45-3701fb73fa73"}],"combinator":"and"},"renameOutput":true,"outputKey":"Bot Pausado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec421add-6e99-4526-9a21-b470348c9bb2","leftValue":"={{ $json.PAUSE_BOT }}","rightValue":"false","operator":{"type":"boolean","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Prosseguir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2448,384],"id":"a95c031e-17e0-4afa-a9af-d3ae7ba41f5d","name":"Verificar pausa"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem').item.json.type }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"fbebb2c5-4a8d-4381-beba-714e134ae59c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b5257b6-207a-4716-b667-5aa1a94e6f9c","leftValue":"={{ $('Mensagem').item.json.type }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2672,384],"id":"1a242812-7bee-456c-abc7-14cb7e620524","name":"Tipo de Mensagem"},{"parameters":{"amount":"={{ $('Configuração').item.json.nextMessageDelay }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4032,272],"id":"e247e20a-97e5-4546-b9b8-e4ea6f08fe46","name":"Aguardar novas mensagens","webhookId":"05c3e306-4d89-4f18-a363-df4b1aa4965b"},{"parameters":{"operation":"get","propertyName":"messages","key":"=messages:{{ $('Mensagem').first().json.phone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4208,272],"id":"910c883d-3f52-4856-8865-2915e2c74340","name":"Obter mensagens","credentials":{"redis":{"id":"ViW6boD3jptvkF4G","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=http://evolution:8080/message/sendText/{{ $('Configuração').first().json.evolutionInstantce }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey","value":"={{ $('Configuração').first().json.evolutionSecretKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Mensagem').item.json.phone }}"},{"name":"text","value":"={{ $json.message }}"},{"name":"delay","value":"={{ $json.message.length * $('Configuração').item.json.timePerCharMs / 2 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7344,288],"id":"03e43519-cc29-4c86-bf38-e016e33e50ad","name":"Enviar mensagem"},{"parameters":{"content":"## Armazenamento e Processamento de Mensagens do Usuário\n\nEste fluxo detecta o tipo de mensagem (texto ou áudio), armazena o conteúdo do usuário e aguarda novas interações. \nSe a última mensagem tiver sido enviada há mais de 5 segundos, o cache é limpo. Ao final, as mensagens válidas são compiladas para processamento.\n\n✅ To-Do:\n🔊 Enviar o áudio obtido para transcrição após o nó \"Convert to File\".","height":720,"width":2560,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1968,-16],"id":"ca36a332-7e4e-401b-a253-61bc97adbcee","name":"Sticky Note1"},{"parameters":{"content":"## Agente de IA\n\nEste nó representa um agente de IA configurado com ferramentas (Tools) e memória opcional, utilizando um modelo de linguagem. Ele é responsável por processar solicitações complexas, executar tarefas com ferramentas conectadas e gerar respostas contextualizadas com base no prompt recebido.","height":720,"width":1080,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4944,16],"typeVersion":1,"id":"6129bb58-1fb8-4f5e-82c0-35f18fb2d819","name":"Sticky Note2"},{"parameters":{"content":"## Divisão e Envio de Mensagens Longas\n\nApós a geração de resposta pelo agente de IA, este trecho do fluxo divide o texto em partes menores usando o nó “Quebrar texto”. Em seguida, as partes são percorridas em loop e enviadas uma a uma com o nó “Enviar mensagem”, garantindo que conteúdos longos sejam transmitidos de forma segmentada e controlada.","height":720,"width":1280},"type":"n8n-nodes-base.stickyNote","position":[6080,32],"typeVersion":1,"id":"6a6428b5-64ae-4872-908b-9e8956e096c3","name":"Sticky Note3"},{"parameters":{"content":"## Fluxo de Controle de Pausa do Bot\n\n\nGerencia a pausa do bot com base em eventos recebidos via Webhook, aplicando regras para pausar ou continuar o atendimento automaticamente.","height":620,"width":1880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,-16],"id":"24741e83-5afb-4c92-a25f-29f7a01cdfba","name":"Sticky Note"},{"parameters":{"jsCode":"return {\n  sendAt: Date.now(),\n  phone: $input.first().json.phone,\n  message: $input.first().json.message\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3648,272],"id":"b034b9a5-e0c8-4164-ba06-b402f14dc67d","name":"Code"},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-32,432],"id":"c9977b5c-ccb6-453c-a9b0-7fe8a2110181","name":"When chat message received","webhookId":"4f7490ef-c0bc-4c4b-94b9-14707a3de1a0"},{"parameters":{"assignments":{"assignments":[{"id":"fd1da8ac-3643-46c4-bfe9-8258464867fb","name":"phone","value":"={{ $json.sessionId }}@mockup","type":"string"},{"id":"30e5b32a-ecb1-4846-9ed4-c4e685914e4d","name":"message","value":"={{ $json.chatInput }}","type":"string"},{"id":"df8cb9eb-8b70-457a-b689-4fe47910106a","name":"type","value":"conversation","type":"string"},{"id":"5a46283f-f588-4915-af15-e513c09a3047","name":"isFromMe","value":false,"type":"boolean"},{"id":"e43f8e69-1750-4aba-ba00-5929e43e7a32","name":"event","value":"messages.upsert","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,432],"id":"d7a5649a-308a-40db-9fb8-13e421f90fd8","name":"Mockup Message"},{"parameters":{"assignments":{"assignments":[{"id":"00026e09-f9a3-48ad-840c-0a9932c15dff","name":"phone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"df0fed17-5f67-4464-8e2e-a61c8ebae5bc","name":"message","value":"={{\n  [$('Webhook').item.json.body?.data?.contextInfo?.quotedMessage?.conversation, $('Webhook').item.json.body.data.message.conversation].filter(Boolean).join('\\n\\n')\n}}","type":"string"},{"id":"18e2d7ce-1af8-4543-95e2-22137c955672","name":"type","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"7818bf80-f808-47a7-9f3f-1d01bf33dbc6","name":"isFromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"d42fe3f8-2366-4ecf-be52-88d2e4b0e5cb","name":"event","value":"={{ $('Webhook').item.json.body.event }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,272],"id":"97462643-c3ca-42e1-b6e2-de0161e64cf7","name":"Webhook Message"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[592,336],"id":"e9ce709f-e058-48d5-b12e-874299c597a2","name":"Mensagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd835433-de99-481a-afb7-564e40164a99","leftValue":"={{ $('Mensagem').item.json.phone.includes('mockup') }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6496,272],"id":"bc8d3a99-4482-43f7-bf94-5bcd4f6573f8","name":"If6"},{"parameters":{"assignments":{"assignments":[{"id":"515280f9-a12c-482e-a853-94b1eb2581bc","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6736,448],"id":"d69197bf-02e7-4ad9-9375-351e401a0d10","name":"Saída"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=bearer {{ $('Configuração').item.json.groqWhisper }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"pt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,512],"id":"a39538ac-3009-421d-bc52-e0b1246739b8","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"1d422f8d-9723-443d-a5eb-6d969f04a0b2","name":"phone","value":"={{ $('Mensagem').first().json.phone }}","type":"string"},{"id":"5ba39256-0266-4446-b1b8-36e1f54af7e6","name":"message","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3376,512],"id":"27687df7-0a45-443f-9293-05010554b1e9","name":"Transcrição"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3488,272],"id":"653f0aa1-613b-4d33-a167-73b49931935b","name":"Merge1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.DEBUG && $('Mensagem').item.json.phone === '556196661389@s.whatsapp.net' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"050f1a41-30e9-4885-906b-d293f2a861ea"}],"combinator":"and"},"renameOutput":true,"outputKey":"Eu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93c6bd57-a098-4893-b9c6-aaa343c15d99","leftValue":"={{ $json.DEBUG && $('Mensagem').item.json.phone !== '556196661389@s.whatsapp.net' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Trava"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c13f421f-e1dd-4d67-81e1-e135d8dc7833","leftValue":"={{ $json.DEBUG }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Seguir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1232,272],"id":"48882338-488d-4b44-affd-b9d1aea0c2f3","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"LQyHfwNvPQccI4fL","mode":"list","cachedResultName":"agente de ia"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.data }}","identifier":"={{ $('Mensagem').item.json.phone }}"},"matchingColumns":[],"schema":[{"id":"identifier","displayName":"identifier","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5648,368],"id":"34407fea-6d73-43c5-9fa1-740e3b27cd45","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58dbbe50-123a-4d18-9f87-52ab1cf4f57f","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[160,272],"id":"c29de00d-fd24-4a26-8736-90eb66870b57","name":"Filter"}],"connections":{"Texto":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Guardar mensagem do usuário":{"main":[[{"node":"Aguardar novas mensagens","type":"main","index":0}]]},"If":{"main":[[{"node":"Deletar mensagens","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}]]},"If1":{"main":[[{"node":"Pausar Bot","type":"main","index":0}],[{"node":"Obter status do bot","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Verificar tempo da última mensagem":{"main":[[{"node":"If","type":"main","index":0}]]},"Deletar mensagens":{"main":[[{"node":"Compilar mensagens","type":"main","index":0}]]},"Compilar mensagens":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Configuração":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Quebrar texto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Enviar mensagem","type":"main","index":0}]]},"Mensagem Evento":{"main":[[{"node":"If1","type":"main","index":0}]]},"Obter status do bot":{"main":[[{"node":"Verificar pausa","type":"main","index":0}]]},"Verificar pausa":{"main":[[],[{"node":"Tipo de Mensagem","type":"main","index":0}]]},"Tipo de Mensagem":{"main":[[{"node":"Texto","type":"main","index":0}],[{"node":"Audio","type":"main","index":0}]]},"Aguardar novas mensagens":{"main":[[{"node":"Obter mensagens","type":"main","index":0}]]},"Obter mensagens":{"main":[[{"node":"Verificar tempo da última mensagem","type":"main","index":0}]]},"Enviar mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Guardar mensagem do usuário","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Mockup Message","type":"main","index":0}]]},"Mockup Message":{"main":[[{"node":"Mensagem","type":"main","index":1}]]},"Webhook Message":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Configuração","type":"main","index":0}]]},"If6":{"main":[[{"node":"Quebrar texto","type":"main","index":0}],[{"node":"Saída","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcrição","type":"main","index":0}]]},"Transcrição":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem Evento","type":"main","index":0}],[],[{"node":"Mensagem Evento","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"If6","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Webhook Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"51d579cf-4a9a-4ab0-90e0-572fb06d658f","triggerCount":2,"shared":[{"createdAt":"2025-09-03T17:40:49.502Z","updatedAt":"2025-09-03T17:40:49.502Z","role":"workflow:owner","workflowId":"g8LrWd3OqEgdqpaE","projectId":"tfGBfzMepNnJG3zL"}],"tags":[]}