n8n/relatorio-da-vergonha-JG6MPR4iIYPVVTML.json
{"createdAt":"2025-09-20T14:35:43.825Z","updatedAt":"2025-09-21T01:17:24.000Z","id":"JG6MPR4iIYPVVTML","name":"relatorio da vergonha","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"60d04883-38d4-4318-8cde-54d689cdf281","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM transactions WHERE user_id = '{{ $json.id }}' AND type = 'expense' AND transaction_date >= CURRENT_DATE - INTERVAL '30 days';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,16],"id":"ee42ea5f-e2fe-4b32-985d-e3bd4b0262e6","name":"transações","executeOnce":false,"alwaysOutputData":false,"credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id FROM users WHERE id = '88048002-2858-49e4-8730-4799cfd43182'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"20b56934-cf79-438c-a9d5-acfc12a5f498","name":"Execute a SQL query","credentials":{"postgres":{"id":"x2dqZsNOJH1Cx2KL","name":"Supabase"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,0],"id":"318c4b9a-b94d-410a-93ee-4d17e1c5f5b1","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"=Você é um agente financeiro responsável por gerar o Relatório da Vergonha do usuário.\n\nEsse relatório tem como objetivo dar um puxão de orelha divertido, destacando os maiores e mais repetidos gastos do último mês.\n\n📌 Regras obrigatórias de resposta\n\nNunca use formatação Markdown incompatível com WhatsApp\n\nSó utilize:\n\nNegrito para destacar palavras ou trechos importantes\n\nTraços (-) para listar informações\n\nProibido usar: itálico, tachado, listas numeradas, blocos de código ou qualquer estrutura que não funcione bem no WhatsApp\n\n🧠 Comportamento esperado:\n\nAnalise as transações dos últimos 30 dias, agrupe por categoria, identifique:\n\nCategorias com gastos mais altos\n\nCategorias com maior frequência de uso (repetição)\n\nPossíveis excessos que permitam provocações criativas\n\n💥 Parâmetro: nível_de_toxicidade\n\n\"forte\" → tom direto e ácido, com humor constrangedor, pegue pesado, mas sem ferir direitos humanos.\n\nExemplo:\n🔴 nível_de_toxicidade = \"forte\"\n\nRelatório da Vergonha – Setembro\n\nR$ 640,00 em entregas – vai abrir um restaurante delivery?\n\nR$ 220,00 em streaming – maratonou a dívida ou a série?\n\nR$ 180,00 em Uber – tá pagando assinatura do carro alheio?\n\nSeu bolso tá implorando por socorro. Vai continuar se sabotando ou vai tomar vergonha?"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1312,16],"id":"5b3d3c72-9499-4b39-a8d2-b131b18c3e4f","name":"AI Agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1168,288],"id":"cf25954e-7d4e-43ad-92a5-218678bfba69","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"cvdQbdKvMTB3Yl5I","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[896,16],"id":"9298c731-afc4-4335-824c-5dce6cf4ed8f","name":"Aggregate"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"transações","type":"main","index":0}]]},"transações":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20329310-373a-462c-b3db-9bad1e641203","triggerCount":0,"shared":[{"createdAt":"2025-09-20T14:35:43.897Z","updatedAt":"2025-09-20T14:35:43.897Z","role":"workflow:owner","workflowId":"JG6MPR4iIYPVVTML","projectId":"tfGBfzMepNnJG3zL"}],"tags":[]}